<div class="row">

  <div class="col-lg-4">
    <div class="blueOne">
      <h6>Select a Play Mode</h6><br><br>
      <button class="btn btn-warning">Player VS Computer</button><br><br><br><br>
      <button class="btn btn-warning">Computer VS Computer</button>

    </div>
  </div>


  <div class="col-lg-4">
    <div class="blueTwo">
      <div id="btns">
  <p>Select Your Move</p>
        <button value="rock" class="btn"><img src="../assets/photos/paper.png" height="50px" width="50px"></button>
        <button value="paper" class="btn">  <img src="../assets/photos/rock.png" height="50px" width="50px">
        </button>
        <button value="scissor" class="btn"><img src="../assets/photos/scissor.png" height="50px" width="50px"></button>
      </div>

      
<div>
  user: {{user}} 
</div>
<div>
  system: {{system}}
</div>
<div id="txt">
<h3>{{txt}}</h3>
</div>
    </div>
  </div>

  <div class="col-lg-4">
<div class="blueThree"></div>
  </div>

</div>





<h3 style="text-align: center;">Player VS Computer</h3>

